/* #region Скидання стилів */
ul,
li {
  list-style-type: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* #endregion Скидання стилів */

/* #region Базові стилі */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  line-height: 1.5; /* або 1.5, якщо хочеш відносну висоту */
  letter-spacing: 0.02em; /* 2% */
  color: #434455; /* можна замінити на конкретний колір, наприклад #333 */
  background-color: #ffffff; /* білий фон */
  /* text-align: center; */
}
.container {
  max-width: 1158px;
  margin: 0 auto; /* Центрування контейнера */
  padding: 0 15px; /* Відступи з боків */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/*#endregion Базові стилі */

/* #region Стилі шрифтів */
/* Заголовки */
.section-hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.section-our-team-title,
.section-our-values-title .section-our-portfolio-title {
  font-weight: 700; /* Bold */
  color: #2e2f42;
}
.section-our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-values-title {
  font-size: 36px;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-our-team-post-title,
.section-our-portfolio-post-title,
.section-our-values-post-title {
  font-weight: 500; /* Medium */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-our-team-title,
.section-our-portfolio-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-our-portfolio-post-text,
.section-our-team-post-text {
  font-size: 16px;
}
.section-our-team-title {
  font-size: 36px;
}
/* Кнопки */
.btn {
  font-weight: 500; /* Medium */
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  line-height: 1.5;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* Посилання */

.link:hover,
.link:focus {
  color: #404bbf;
}
/*.link-studio:active {
  text-decoration: underline;
}
  */
.lnk-mail-phone {
  color: #434455;
}
.lnk-mail-phone:hover,
.lnk-mail-phone:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}

/* Фони секцій */

.section-hero {
  background-color: #2e2f42;
}
.section-our-values {
  background-color: #ffffff;
}
.section-our-team {
  background-color: #f4f4fd;
}
.section-our-team-post {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

/* Логотипи */
.logo_footer,
.logo_header {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo_header span {
  color: #2e2f42;
}

.logo_footer span {
  color: #f4f4fd;
}
/* #endregion Стилі шрифтів */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo_header {
  padding: 24px 0;
  margin-right: 76px;
}
.header-nav-link {
  padding: 24px 0;
}
.link {
  display: block;
}
.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-item {
}
.lnk-mail-phone {
  display: block;
  padding: 24px 0;
}
/* #endregion Header */

/* #region hero */
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-hero-container {
  text-align: center;
}
.section-hero-title {
  max-width: 496px;

  margin: 0 auto 48px;
}
.btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
}
/* #endregion hero */

/* #region Our Values */
.section-our-values {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
}
.section-our-values-container {
}
.section-our-values-title {
}
.section-our-values-list {
  display: flex;
  gap: 24px;
}
.section-our-values-post {
  width: calc((100% - 24px * 3) / 4);
}
.section-our-values-post-title {
  margin-bottom: 8px;
}
.section-our-values-text {
}
/* #endregion Our Values */

/* #region Our Team */
.section-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
}
.section-our-team-container {
}
.section-our-team-title {
  margin-bottom: 72px;
}
.section-our-team-list {
  display: flex;
  gap: 24px;
}
.section-our-team-post {
  width: calc((100% - 24px * 3) / 4);

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-our-team-post img {
}
.our-team-text-container {
  text-align: center;
  padding: 32px 0;
}
.section-our-team-post-title {
  margin-bottom: 8px;
}
.section-our-team-post-text {
}
/* #endregion Our Team */

/* #region Our Portfolio */
.section-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
}
.section-our-portfolio-container {
}
.section-our-portfolio-title {
  margin-bottom: 72px;
}
.section-our-portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.section-our-portfolio-post {
  width: calc((100% - 24px * 2) / 3);
}
.our-portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-our-portfolio-post-title {
  margin-bottom: 8px;
}
.section-our-portfolio-post-text {
}
/* #endregion Our Portfolio */

/* #region Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
}
.footer-container {
}
.logo_footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo_footer-sp {
}
.footer-text {
  max-width: 264px;
}
/* #endregion Footer */
